* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body.home {
    background-image: url(background.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top !important;
}

.menu-bar {
    background: #9d8a7f;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover {
    background: #6a564c;
    border-radius: 3px;
}

.option-button {
    padding-top: 50px;
    text-align: center;
}

.button {
    background-color: #9d8a7f;
    border: none;
    color: white;
    padding:15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

.button:hover {
    background: #6a564c;
}

